.index {
    padding: 0;
    margin: 0;
    background-color: rgb(236, 236, 236);
    direction: ltr;
}

.login {
    display: flex;
}

.h1p {
    /* position: relative; */
    margin-top: 170px;
    margin-left: 130px;    
}

.h1 {
    position: absolute;
    font-size: 50px;
    color: blue;
    margin-left: 42px;
    font-weight: bold;
}

.h4 {
    position: absolute;
    margin-top: 100px;
    font-weight: bold;
    font-weight: bold;
    font-size: 17px;
}

.card {
    background-color: white;
    height: 343px;
    width: 420px;
    position: relative;
    margin-top: 125px;
    margin-left: 650px;
    border-radius: 10px;
}

.text {
    height: 50px;
    width: 380px;
    margin-left: 16px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid rgb(235, 232, 232);
    font-weight: bold;
}

.text:hover {
    border: blue;
    height: 50px;
    width: 380px;
}


.password {
    height: 50px;
    width: 380px;
    margin-left: 16px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid rgb(235, 232, 232);
    font-weight: bold;
}

.password:hover {
    border: blue;
    height: 50px;
    width: 380px;

}

.submit {
    height: 50px;
    width: 390px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: blue;
    color: white;
    border: blue;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


.forget {
    margin-left: 15px;
    margin-top: 20px;
    background-color: white;
    height: 40px;
    width: 390px;
    text-align: center;
   border-bottom:  1px solid gainsboro;
   font-weight: bold;
}

.Create {
    height: 45px;
    width: 152px;
    margin-left: 133px;
    margin-top: 15px;
    background-color: rgb(10, 180, 24);
    color: white;
    border: rgb(10, 180, 24);
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.aaaa {
    margin-left: 800px;
    
}
.a {
    color: black;
}

.span {
    font-weight: bold;
}

.aa {
    color: black;
}

.aaa {
    color: black;
}

a{
    text-decoration: none;
}
.ar {
    position: absolute;
    left: 1290px;
    bottom: 0;
    font-weight: bold;
}

.ar:hover {
    border: blue;
    height: 20px;
    width: 75px;
}